body {
    margin: 0;
}


nav {
    /*изменение цвета фона*/
    background: #0f172a;
    /*ширина и высота*/
    width: 100%;
    height: 88px;
    /*изменение цвета текста*/
    color: #fff;
    /*внутрений отступ*/
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

/* h2 {
    /*цвет текста
    color: #319343;
    размер
    font-size: 50px;
    изменение шрифта
    font-family: Arial, Helvetica, sans-serif;
    изменение размера
    font-weight: 100;
} */

nav h2 {
    width: 200px;
    margin: 0;
}

ul {
    display: flex;
    flex-flow: row-reverse;
    width: 100%;
}

nav ul li {
    margin: 0px 20px;
    
    
}

nav a {
    color: #fff;
}